doctype html
head
  title Axya Style Guide
  link(rel="stylesheet" href="/css/vendor/styleguide.css")
  link(rel="stylesheet" href="/css/main.css")
body

  block content

  script(src="http://code.jquery.com/jquery-1.11.0.min.js")
  script(src="/js/vendor/scrollspy.js")
  script(src="/js/vendor/dropdown.js")
  script(src="/js/vendor/sg-plugins.js")
  script(src="/js/vendor/sg-scripts.js")


