md-sidenav#sidebar.md-sidenav-left.md-whiteframe-4dp(
  layout="column" md-component-id="left" md-is-locked-open="true"
)
  md-content.layout-padding(md-theme="docs-dark")
    md-menu
      md-menu-content
        md-menu-item
          md-button Overview
        md-menu-item
          md-button Reports
        md-menu-item
          md-button Analytics
        md-menu-item
          md-button Export
