// nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
//   .container-fluid
//     .navbar-header
//       a.navbar-brand(href="#")
//         strong Axya

md-toolbar(layout="row")
  .md-toolbar-tools
    md-button.md-icon-button
      md-icon menu
    h1 Axya
