md-content.login-form(ng-controller="LoginCtrl")
  form(name="loginForm" ng-submit="login(user)")
    md-input-container(flex)
      label(for="inputUsername") Username
      input#inputUsername.form-control(type="text")
    md-input-container(flex)
      label(for="inputPassword") Password
      input#inputPassword.form-control(type="password")
    md-checkbox(aria-label="Remember me")
      | Remember me
    .actions
      md-button#login-submit-btn.md-raised.md-primary(type="submit") Sign in
      = " "
      a#signup-link(ui-sref="signup") Sign Up


