.login-form(ng-controller="LoginCtrl")
  form.form-horizontal(name="loginForm" ng-submit="login(user)")
    .form-group
      label.col-lg-2.control-label(for="inputUsername") Username
      .col-lg-10
        input#inputUsername.form-control(type="text")
    .form-group
      label.col-lg-2.control-label(for="inputPassword") Password
      .col-lg-10
        input#inputPassword.form-control(type="password")
        .checkbox
          label
            input(type="checkbox")
            | Remember me
        button#login-submit-btn.btn.btn-default(type="submit") Sign in

