doctype html
html
  head
    title Axya is Here!
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="css/main.css")
  body(layout="column" ng-app="axyaApp")
    include ./components/navigation/view.jade

    .main(layout="column" flex id="content")
      md-content.md-padding(layout="column" flex ui-view)
        h1 This is the Content

    script(src="js/app.js")

