.row
  .col-sm-6.col-sm-offset-3
    h1.branding Axya

    form.form-horizontal(name="loginForm" ng-submit="login(user)")
      .form-group
        label.col-lg-2.control-label(for="inputEmail") Email
        .col-lg-10
          input#inputEmail.form-control(type="text", placeholder="Email")
      .form-group
        label.col-lg-2.control-label(for="inputPassword") Password
        .col-lg-10
          input#inputPassword.form-control(type="password", placeholder="Password")
          .checkbox
            label
              input(type="checkbox")
              | Remember me
          button.btn.btn-default(type="submit") Sign in

